# BytePlus Access Credentials
access_key = "your_access_key_here"
secret_key = "your_secret_key_here"

# Region Configuration
region            = "ap-southeast-1"
availability_zone = "ap-southeast-1a"

# Instance Configuration
instance_name = "seedance-v2-server"
instance_type = "ecs.t2-c1m1.large"
key_pair_name = "seedance-keypair"

# Seedance Application Configuration
byteplus_api_key  = "your_byteplus_api_key_here"
byteplus_base_url = "https://ark.ap-southeast.bytepluses.com/api/v3"


